<div class="vehicles-filter">
  <div class="filter-header">
    <h3>{{ 'VEHICLES.FILTERS.TITLE' | translate }}</h3>
    <div class="header-actions">
      <button class="clear-filters" (click)="handleClearFilters()">{{ 'VEHICLES.FILTERS.CLEAR_ALL' | translate }}</button>
      <button class="mobile-toggle" (click)="toggleMobileFilters()">
        <i class="fas" [ngClass]="{'fa-chevron-down': !isMobileFiltersOpen, 'fa-chevron-up': isMobileFiltersOpen}"></i>
      </button>
    </div>
  </div>
  
  <div class="filter-sections" [class.mobile-hidden]="!isMobileFiltersOpen">
    <!-- Specifications Section -->
    <div class="filter-section">
      <h4>{{ 'VEHICLES.FILTERS.SPECIFICATIONS' | translate }}</h4>
      <div class="filter-content">
        <select [(ngModel)]="filters.specifications.fuelType" (change)="onFilterChange()">
          <option value="">{{ 'VEHICLES.FILTERS.ALL_FUEL_TYPES' | translate }}</option>
          <option *ngFor="let type of fuelTypeOptions" [value]="type">
            {{ 'VEHICLES.FILTERS.FUEL_TYPES.' + type | translate }}
          </option>
        </select>
        <select [(ngModel)]="filters.specifications.transmission" (change)="onFilterChange()">
          <option value="">{{ 'VEHICLES.FILTERS.ALL_TRANSMISSIONS' | translate }}</option>
          <option *ngFor="let type of transmissionOptions" [value]="type">
            {{ 'VEHICLES.FILTERS.TRANSMISSIONS.' + type | translate }}
          </option>
        </select>
      </div>
    </div>

    <!-- Locations Section -->
    <div class="filter-section">
      <h4>{{ 'VEHICLES.FILTERS.LOCATIONS' | translate }}</h4>
      <div class="filter-content">
        <select [(ngModel)]="filters.locations.officeId" (change)="onFilterChange()">
          <option value="">{{ 'VEHICLES.FILTERS.ALL_LOCATIONS' | translate }}</option>
          <option *ngFor="let office of offices" [value]="office.id">
            {{ office.name }}
          </option>
        </select>
      </div>
    </div>

    <!-- Price Range Section -->
    <div class="filter-section">
      <h4>{{ 'VEHICLES.FILTERS.PRICE_RANGE' | translate }}</h4>
      <div class="filter-content">
        <div class="range-inputs">
          <input type="number" [(ngModel)]="filters.price.minPrice" (change)="onFilterChange()" 
                 [placeholder]="'VEHICLES.FILTERS.MIN_PRICE' | translate" min="0">
          <span>{{ 'VEHICLES.FILTERS.TO' | translate }}</span>
          <input type="number" [(ngModel)]="filters.price.maxPrice" (change)="onFilterChange()" 
                 [placeholder]="'VEHICLES.FILTERS.MAX_PRICE' | translate" min="0">
        </div>
      </div>
    </div>

    <!-- Year Range Section -->
    <div class="filter-section">
      <h4>{{ 'VEHICLES.FILTERS.YEAR_RANGE' | translate }}</h4>
      <div class="filter-content">
        <div class="range-inputs">
          <select [(ngModel)]="filters.year.minYear" (change)="onFilterChange()">
            <option [value]="null">{{ 'VEHICLES.FILTERS.MIN_YEAR' | translate }}</option>
            <option *ngFor="let year of yearOptions" [value]="year">{{ year }}</option>
          </select>
          <span>{{ 'VEHICLES.FILTERS.TO' | translate }}</span>
          <select [(ngModel)]="filters.year.maxYear" (change)="onFilterChange()">
            <option [value]="null">{{ 'VEHICLES.FILTERS.MAX_YEAR' | translate }}</option>
            <option *ngFor="let year of yearOptions" [value]="year">{{ year }}</option>
          </select>
        </div>
      </div>
    </div>

    <!-- Features Section -->
    <div class="filter-section">
      <h4>{{ 'VEHICLES.FILTERS.FEATURES.TITLE' | translate }}</h4>
      <div class="filter-content">
        <div class="feature-grid">
          <label>
            <input type="checkbox" [(ngModel)]="filters.features.hasGPS" (change)="onFilterChange()">
            {{ 'VEHICLES.FILTERS.FEATURES.GPS' | translate }}
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="filters.features.hasBluetooth" (change)="onFilterChange()">
            {{ 'VEHICLES.FILTERS.FEATURES.BLUETOOTH' | translate }}
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="filters.features.hasAirConditioning" (change)="onFilterChange()">
            {{ 'VEHICLES.FILTERS.FEATURES.AIR_CONDITIONING' | translate }}
          </label>
          <label>
            <input type="checkbox" [(ngModel)]="filters.features.hasUSBCable" (change)="onFilterChange()">
            {{ 'VEHICLES.FILTERS.FEATURES.USB_CABLE' | translate }}
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
