<app-navbar></app-navbar>

<div class="vehicle-details-container">
  <ng-container *ngIf="!isLoading; else loading">
    <div class="vehicle-content" *ngIf="vehicle">
      <div class="left-section">
        <app-vehicle-carousel [images]="vehicleImages"></app-vehicle-carousel>
      </div>
      <div class="right-section">
        <app-reserve [vehicle]="vehicle"></app-reserve>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #loading>
  <div class="loading-container">
    <div class="spinner"></div>
  </div>
</ng-template>

<app-footer></app-footer>
