<section class="why-choose-us">
  <div class="container">
    <h2 class="section-title">{{ 'whyChooseUs.title' | translate }}</h2>
    
    <div class="content-wrapper">
      <div class="description">
        <p>{{ 'whyChooseUs.description' | translate }}</p>
      </div>
      
      <div class="features-grid">
        <div class="feature-card" *ngFor="let feature of features">
          <div class="icon-wrapper">
            <fa-icon [icon]="feature.icon"></fa-icon>
          </div>
          <h3 class="feature-title">{{ 'whyChooseUs.features.' + feature.key | translate }}</h3>
        </div>
      </div>
    </div>
  </div>
</section>
