<section class="hero">
    <div class="hero__background">
        <img src="assets/images/background-hero.jpg" alt="Background" class="hero__background-image">
        <div class="hero__overlay"></div>
    </div>
    <div class="hero__container">
        <div class="hero__content">
            <div class="hero__text">
                <p class="hero__subtitle">{{ 'hero.title' | translate }}</p>
                <h1 class="hero__title">
                    {{ 'hero.subtitle' | translate }} <br />
                    {{ 'hero.description' | translate }}
                </h1>

                <ul class="hero__features">
                    <li class="hero__feature">
                        <fa-icon [icon]="faCheckCircle" class="hero__icon"></fa-icon>
                        <span class="hero__feature-text">{{ 'hero.features.quality' | translate }}</span>
                    </li>
                    <li class="hero__feature">
                        <fa-icon [icon]="faCheckCircle" class="hero__icon"></fa-icon>
                        <span class="hero__feature-text">{{ 'hero.features.services' | translate }}</span>
                    </li>
                    <li class="hero__feature">
                        <fa-icon [icon]="faCheckCircle" class="hero__icon"></fa-icon>
                        <span class="hero__feature-text">{{ 'hero.features.support' | translate }}</span>
                    </li>
                </ul>

                <div class="hero__actions">
                    <button (click)="onBookNowClick()" class="hero__button hero__button--primary">{{ 'hero.buttons.book' | translate }}</button>
                    <a [routerLink]="['/about']" class="hero__button hero__button--outline">{{ 'hero.buttons.learn' | translate }}</a>
                </div>
            </div>
        </div>
        <div class="hero__image">
            <!-- Car image for desktop -->
            <img 
                src="assets/images/hero-img.png" 
                alt="Luxury car" 
                class="hero__image-content"
                loading="lazy"
            />
        </div>
    </div>
</section>